{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup"],
          "plugins": ["line-numbers","show-language", "copy-to-clipboard"],
          "theme": "okaidia",
          "css": true
      }]
    ]
  }

